html,
body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    max-width: 1440px;
    height: 100%;
}

.paybills {
    padding: 37px 0 288px 135px;
}

.head {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #902780;
    white-space: nowrap;
    margin-bottom: 18px;
}

/* .Pay {
    padding-top: 20px;
} */


.Pay p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.73);
    width: 559px;
}

.boxes a {
    text-decoration: none;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 200px;
    height: 350px;
    border-radius: 4px;
    padding: 20px;
    border: none;
}


.box:nth-child(1) {
    background: rgba(255, 205, 211, 0.4);
    margin-top: 70px;
    margin-right: 51.5px;   
}
  
.box:nth-child(2) {
    background: rgba(142, 209, 111, 0.29);
    margin-top: 70px;
    margin-right: 51.5px;
    margin-left: 51.5px;
}

.box:nth-child(3) {
    background: rgba(97, 143, 216, 0.4);
    margin-top: 70px;
    margin-left: 51.5px;
}

.header {
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #121821;
    margin-bottom: 18px;
}

.text {
    padding-top: 2px;
}

.text p {
    font-weight: 500;
    width: 191px;
    height: 30px;
    line-height: 15px;
    font-size: 12px;
    color: rgba(18, 24, 33, 0.87);
}

.box:hover {
    padding: 30px;
    border-color: rgb(238, 233, 233);
}

.image img{
    padding-top: 42px;
    padding-left: 32px;
    margin-bottom: 174.17px;
}

@media (max-width: 768px) {
    .paybills {
        padding: 37px 0 288px 13px;
    }
    .box:nth-child(1) {
        background: rgba(255, 205, 211, 0.4);
        margin-top: 50px;
        margin-left: 10%;
        margin-right: 10%;  
    }
      
    .box:nth-child(2) {
        background: rgba(142, 209, 111, 0.29);
        margin-top: 50px;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .box:nth-child(3) {
        background: rgba(97, 143, 216, 0.4);
        margin-top: 50px;
        margin-left: 10%;
        margin-right: 10%;
    }
}